* {
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    background-color: lightblue;
    background-image: url("https://wallpapershome.com/images/pages/pic_h/17125.jpg"); background-size: cover; background-position: center; background-attachment: fixed;
    overflow: hidden;
    margin-bottom: -34px !important;
}