@import "window.css";
@import "assets/appbar/appbar.css";
@import "assets/topbar/topbar.css";
@import "assets/apps/apps.css";
@import "assets/powerdialog/power.css";

* {
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    background-image: url(/assets/imgs/neurion.png); background-size: cover; background-position: center; background-attachment: fixed;
    overflow: hidden;
}