@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
* {
    outline: none;
  }
body {
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}
textarea {
  border: none;
  resize: none !important;
  width: 100%;
}